body{
	background-color: #f7f7f7;
}
table{
	margin: auto;
	border:2px solid black;
	border-collapse: collapse;
}
td,th{
	border:2px solid black;
	padding:5px;
}
div{
	padding: 10px;
	margin: auto;
	width: 500px;
	background-color: white;
	border: 1px solid gray;
}
form{
	margin: auto;
}
a,span{
	display: none;
}