#tab2_1 table{
	border:1px solid gray;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	text-align: right;
}
#tab2_1 th{
	border-bottom: 1px solid gray;
	text-align: left;
	padding: 10px;
	background-color: gray;
}
#tab2_1 td{
	padding: 10px;
	width: 50%;
}
#tab2_1 input,#tab2_1 select{
	padding: 5px;
	width: 350px;
	border-radius: 3px;
	margin-left: 10px;
	margin-right: 10px;
}
.withinput{
	text-align: left;
}
#tab2 ~ .content{
	background-color: #CCCCB2;
	border-color: #CCCCB2;
}