<% if session[:username] %>
<%= link_to 'logout', logout_users_path %>
<% end %>

<h1>Admin Panel</h1>

<% @user.each do |x| %>
<%=	x.username %>
<%= link_to 'modify', users_path(:username => x ) %><br> 
<% end %>